LLM_HOST=http://mockhost.local:7869/
LLM_CHAT_MODEL=mock-model
LLM_EMBEDDING_MODEL=mock-embed-model

CONFLUENCE_URL=https://mock.atlassian.net/wiki
CONFLUENCE_USERNAME=mock.user@example.com
CONFLUENCE_API_KEY=mock-api-key
CONFLUENCE_SPACES=MOCK_SPACE

JIRA_URL=https://mock.atlassian.net
JIRA_USERNAME=mock.user@example.com
JIRA_API_KEY=mock-api-key
JIRA_PROJECTS=MOCK_PROJECT

GITHUB_REPOSITORIES=https://github.com/mockuser/mock-repo1.git,https://github.com/mockuser/mock-repo2.git
GITHUB_REF=mock-branch

NEO4J_URL=bolt://mockhost.local:7687
NEO4J_USERNAME=mock_user
NEO4J_PASSWORD=mock_password
